.vscode
build
**.env
**.envrc
**.venv
**.envrcma
**CMakeUserPresets.json
**CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
doc/cheatsheet.pdf
examples/pico/wifi_credentials.h
**/*_pb2.py
**/__pycache__