.vscode
build
**.env
**.envrc
**.venv
**.envrcma
**CMakeUserPresets.json
**CMakeCache.txt
**/build
**/CMakeFiles
**/cmake_install.cmake
**/Makefile
doc/cheatsheet.pdf
examples/pico/wifi_credentials.h
examples/pico/profiles/rp2040-arm-none-eabi.profile
**/*_pb2.py
**/__pycache__